                                                     input:focus button:focus {
                                                         outline: none
                                                     }
                                                     
                                                     .box {
                                                         width: 100%;
                                                         margin-left: auto;
                                                         margin-right: auto;
                                                         text-align: center;
                                                         position: fixed;
                                                         z-index: -1;
                                                         top: 50px;
                                                         height: 600px;
                                                     }
                                                     
                                                     a {
                                                         border: none;
                                                         color: white;
                                                         text-decoration: none;
                                                     }
                                                     
                                                     .content_box1 {
                                                         width: 100%;
                                                         height: 500px;
                                                         background: gray;
                                                         z-index: 1;
                                                         color: white;
                                                         text-align: center;
                                                         margin: 0px;
                                                     }
                                                     
                                                     #win {
                                                         font-size: 25px;
                                                         color: white;
                                                     }
                                                     
                                                     .content_box2 {
                                                         width: 100%;
                                                         height: 500px;
                                                         background: #BE8410;
                                                         z-index: 1;
                                                         text-align: center;
                                                         margin: 0px;
                                                     }
                                                     
                                                     body {
                                                         background-color: #0A7272;
                                                         padding: 0px;
                                                         margin: 0px;
                                                     }
                                                     
                                                     .nav_text {
                                                         margin-top: 20px;
                                                         margin-left: 20px;
                                                     }
                                                     
                                                     .nav {
                                                         width: 100%;
                                                         height: 50px;
                                                         background-color: black;
                                                         position: fixed;
                                                         z-index: 1;
                                                         top: 0px;
                                                     }
                                                     
                                                     #nav_extend {
                                                         display: none;
                                                         width: 100%;
                                                         height: 300px;
                                                         background-color: rgba(0, 0, 0, 0.2);
                                                         position: fixed;
                                                         z-index: 1;
                                                         top: 50px;
                                                         font-family: Comic Sans MS;
                                                         color: white;
                                                     }
                                                     
                                                     .header {
                                                         display: inline-block;
                                                         color: #ffffff;
                                                         border-radius: 10px 10px 3px 3px;
                                                         font-family: Comic Sans MS;
                                                         width: 200px;
                                                         height: auto;
                                                         font-size: 30px;
                                                         padding: 10px 40px;
                                                     }
                                                     
                                                     .nav_item {
                                                         display: inline-block;
                                                         margin-top: 10px;
                                                         padding: 5px;
                                                         width: 75px;
                                                         margin-left: 90%;
                                                         color: white;
                                                         height: 18px;
                                                         text-align: center;
                                                         font-size: 12px;
                                                         border: 1px solid black;
                                                         font-family: Comic Sans MS;
                                                     }
                                                     
                                                     .nav_item:hover {
                                                         border: 1px solid white;
                                                     }
                                                     
                                                     .display-info {
                                                         position: fixed;
                                                         top: 10px;
                                                         left: 50px;
                                                         width: 200px;
                                                         height: 400px;
                                                         background-color: #BE8410;
                                                     }
                                                     
                                                     #score {
                                                         color: white;
                                                         border-radius: 0px 0px 0px 0px;
                                                         font-family: Comic Sans MS;
                                                         width: 30%;
                                                         height: auto;
                                                         margin: 5px;
                                                         margin-left: auto;
                                                         margin-right: auto;
                                                         font-size: 16px;
                                                         padding: 10px 40px;
                                                         border-bottom: 3px solid #BE1010;
                                                     }
                                                     
                                                     .frame {
                                                         width: 50px;
                                                         height: 50px;
                                                         background-color: lightgray;
                                                         border-radius: 5px;
                                                         margin: 1px;
                                                         display: inline-block;
                                                     }
                                                     
                                                     .btn {
                                                         display: inline-block;
                                                         border: 1px solid #c9ae34;
                                                         color: #705D07;
                                                         border-radius: 3px 3px 3px 3px;
                                                         -webkit-border-radius: 3px 3px 3px 3px;
                                                         -moz-border-radius: 3px 3px 3px 3px;
                                                         font-family: Verdana;
                                                         width: auto;
                                                         height: auto;
                                                         font-size: 16px;
                                                         padding: 10px 40px;
                                                         box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
                                                         -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
                                                         -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d, 0 2px 4px 0 #D4D4D4;
                                                         text-shadow: 0 1px 0 #fff;
                                                         background-image: linear-gradient(to top, #fce374, #fcdf5b);
                                                         background-color: #fce374;
                                                     }
                                                     
                                                     .btn:hover,
                                                     .btn:active {
                                                         border: 1px solid #967d09;
                                                         color: #705D07;
                                                         box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
                                                         -moz-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
                                                         -webkit-box-shadow: inset 0 1px 0 0 #fff6ce, inset 0 -1px 0 0 #e3c852, inset 0 0 0 1px #fce88d;
                                                         background-color: #fcdf5b;
                                                     }